.ranking {
    padding: 2rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.ranking h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #183153;
    margin-bottom: 1.5rem;
}

.rank {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rank-item {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    width: 18%; /* Inicialmente, 5 itens na linha */
    margin-bottom: 1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.rank-level {
    font-size: 2.5rem;
    font-weight: bold;
    color: #d4af37; 
}

.train-amount {
    font-size: 1rem;
    color: #555;
    margin-top: 0.5rem;
}

.profile-link {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
    color: #183153;
    text-decoration: none;
    font-weight: bold;
}

.profile-link:hover {
    color: #d4af37;
}

/* Responsividade para telas menores */
@media (max-width: 1200px) {
    .rank-item {
        width: 22%; /* 4 itens por linha */
    }
}

@media (max-width: 992px) {
    .rank-item {
        width: 30%; /* 3 itens por linha */
    }
}

@media (max-width: 768px) {
    .rank-item {
        width: 45%; /* 2 itens por linha */
    }
}

@media (max-width: 480px) {
    .rank-item {
        width: 90%; /* 1 item por linha */
    }
}
